@import url("../../5-box-model/common.css");



header {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    /*border: 3px solid red;*/
    position: fixed;
    z-index: 9999;
}

header .inner-header {

    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

}

header .logo img {
    width: 200px;
}

header .gnb ul {
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: #ffffff;
    margin-right: 300px;

}

header .gnb ul li {
    margin: 20px 40px;

}
header .gnb ul li:hover{
    color: #f2692b;
}


header .tnb ul {
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: #ffffff;

}

header .tnb ul li {
    margin: 0 30px;

}

header .tnb ul li i {
    margin: 10px;

}

.tnb .bd {
    border: 2px solid #ffffff;
    border-radius: 20px;
    padding-left: 10px;
    transition: 0.5s;
}

.bd:hover {
    background: #ffffff;
    color: #f2692b;

}

.gnb-mobile {
    display: none;
}


/*메인 디자인*/


section.main {
    background: url("https://weekly.hankooki.com/news/photo/202307/7079864_179382_4954.jpg") no-repeat center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 1px 3px 5px #000000;

}

section.main .en {
    width: 900px;
    font-size: 50px;
    color: #ffffff;
    margin-bottom: 20px;
    line-height: 1.2;

}
section.main p{
    font-size: 25px;
    color: #ffffff;
    margin-bottom: 20px;

}
section.main .view{

    font-size: 20px;
    border: 2px solid #ffffff;
    border-radius: 30px;
    padding: 0 10px;
    transition: 0.5s;

}
section.main .view:hover{
    background: rgba(255,255,255,0.5);
}
.about{
    border-bottom: 2px solid #ccaaaa;
    width: 80%;
    margin: 0 auto;
}

.about h2{
    font-size: 40px;
    text-align: center;
    margin-top: 40px    ;
}
.about p{
    font-size: 15px;
    text-align: center;

}
.sub-container{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.about .img-box{
    overflow: hidden;
}
.about .img-box img {
    transition: 0.8s;
}
.img-box img:hover{
    transform: scale(1.3);
}

.about li h3{

    font-size: 20px;
    margin: 20px;
}
.about li p{
    font-size: 15px;
    margin: 20px;
    text-align: left;
}
.about .mo{
    display: none;
}
.about .more{
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}
